@import "@/styles/variables.scss";

.product-card {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 20vw;
  padding: 0.5rem;

  @include for-phone {
    width: 40vw;
    background-color: rgba($color-white, 0.05);
  }

  .product-card-image {
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    width: 100%;
    height: auto;
  }

  .product-card-title {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    position: relative;
    text-shadow: 2px 2px 0px $color-black, 5px 3px 0px $color-black;

    @include for-phone {
      font-size: 1.2rem;
      letter-spacing: -1px;
    }
  }

  .product-card-price {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-family: "DM Mono", monospace;
    font-weight: 300;
    text-shadow: 1px 1px 0px $color-black;
  }

  .spray {
    position: absolute;
    width: 50%;
    height: 2rem;
    top: 0.5rem;
    left: -0.5rem;
    opacity: 0;

    @include for-phone {
      top: 0;
    }
  }

  &:hover,
  &:focus {
    filter: drop-shadow(0px 0px 8px rgba($color-white, 0.25));

    .spray {
      z-index: -1;
      opacity: 0.5;
    }
  }
}
