@import "@/styles/variables.scss";

.shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: calc($top-bar-height + 2rem);

  @include for-phone {
    padding-top: calc($top-bar-height-mobile + 2rem);
  }

  .shop-note {
    font-family: "DM Mono", monospace;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    color: $color-brown;
    padding: 1rem;
    letter-spacing: -0.5px;

    @include for-phone {
      font-size: 0.7rem;
      padding: 1rem 0.5rem;
      letter-spacing: -1px;
      white-space: nowrap;
    }
  }

  .products {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    flex-wrap: wrap;
    max-height: 55vh;
    overflow: auto;

    @include for-phone {
      max-height: 52vh;
    }

    @include for-large-screens {
      max-height: 65vh;
    }
  }
}

.mob {
  position: fixed;
  bottom: -25%;
  left: 50%;
  transform: translate(-50%);
  width: auto;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  filter: drop-shadow(0px 0px 1px $color-white);
  opacity: 0.5;
}
