$top-bar-height: 80px;
$top-bar-height-mobile: 56px;

$color-white: #ffffff;
$color-almost-white: #fff8f0;
$color-black: #000000;
$color-light-gray: #dfe1dc;
$color-dark-gray: #121010;
$color-red: #e7232f;
$color-brown: #6d3e24;
$color-gray: #5d5657ff;
$color-dark-brown: #3c1a10ff;
$color-yellow: #ffdc40;
$color-light-blue: #b4c5df;

$cdn-url: "https://w-img.b-cdn.net/mndlss";

$screen-size-xxs: 420px;
$screen-size-xs: 500px;
$screen-size-md: 900px;
$screen-size-sm: 1100px;
$screen-size-lg: 2000px;

@mixin for-small-phone {
  @media screen and (max-width: $screen-size-xxs) and (max-height: 750px) {
    @content;
  }
}

@mixin for-phone {
  @media screen and (max-width: $screen-size-sm) {
    @content;
  }
}

@mixin for-desktop {
  @media screen and (min-width: $screen-size-sm) and (min-height: $screen-size-xs) {
    @content;
  }
}

@mixin for-large-screens {
  @media screen and (min-width: $screen-size-lg) and (min-height: $screen-size-sm) {
    @content;
  }
}

@mixin for-short-screens {
  @media screen and (min-width: $screen-size-sm) and (max-height: $screen-size-md) {
    @content;
  }
}

@mixin for-tablet {
  @media screen and (min-width: 800px) and (max-width: 1300px) and (max-height: 1100px) {
    @content;
  }
}

@mixin pseudo-bold {
  text-shadow: -0.03ex 0 0 currentColor, 0.03ex 0 0 currentColor;
}
