@import "@/styles/variables.scss";

.videos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  z-index: 1;
  width: 75vw;

  height: 100%;
  justify-content: center;
  align-items: center;

  padding-top: $top-bar-height / 3;
  padding-bottom: 6rem;

  @include for-phone {
    width: 100vw;
  }

  @include for-short-screens {
    padding-top: 0;
    padding-bottom: 2rem;
  }

  @include for-large-screens {
    padding-bottom: 10rem;
  }

  .title {
    grid-column: 1 / 4;
    grid-row: 1 / 2;

    text-align: center;
    font-size: 4rem;
    line-height: 3rem;

    text-shadow: 2px 2px 0px $color-dark-gray, 5px 3px 0px $color-black;
    z-index: 1;

    height: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    @include for-short-screens {
      height: 2rem;
    }
  }

  .previous {
    all: unset;

    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scaleX(-1);

    &:active {
      transform: scale(1.2) scaleX(-1);
    }

    img {
      pointer-events: none;
      user-select: none;
      height: 5vh;
      width: auto;
    }
  }

  .selected-video {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1rem solid $color-dark-gray;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 16px rgba($color-white, 0.05);
    outline: 1px solid rgba($color-white, 0.2);

    .desktop-large {
      display: none;

      @include for-large-screens {
        display: flex;
      }
    }

    .desktop {
      display: none;

      @include for-desktop {
        display: flex;
      }

      @include for-large-screens {
        display: none;
      }
    }

    .mobile {
      display: none;

      @include for-phone {
        display: flex;
      }
    }
  }

  .next {
    all: unset;

    grid-column: 3 / 4;
    grid-row: 2 / 3;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:active {
      transform: scale(1.2);
    }

    img {
      pointer-events: none;
      user-select: none;
      height: 5vh;
      width: auto;
    }
  }

  .video-scroller {
    grid-column: 1 / 4;
    grid-row: 3 / 4;

    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    width: 100%;

    @include for-desktop {
      margin-bottom: 0;
    }

    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }

    .video-scroller-option {
      all: unset;
      cursor: pointer;
      width: 200px;
      height: 150px;
      flex-shrink: 0;
      position: relative;

      border: 0.5rem solid $color-dark-gray;
      border-radius: 0.2rem;

      filter: grayscale(1);

      @include for-phone {
        width: 100px;
        height: 75px;
      }

      @include for-small-phone {
        border: 0.25rem solid $color-dark-gray;
        width: 80px;
        height: 60px;
      }

      @include for-short-screens {
        width: 100px;
        height: 75px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .vignette {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: fill;
      }

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: " ";
        background: linear-gradient(
            transparentize($color-dark-gray, 1) 50%,
            transparentize(darken($color-dark-gray, 10), 0.75) 50%
          ),
          linear-gradient(
            90deg,
            transparentize(#ff0000, 0.94),
            transparentize(#00ff00, 0.98),
            transparentize(#0000ff, 0.94)
          );
        background-size: 100% 2px, 3px 100%;
        pointer-events: none;
        z-index: 3;
      }

      &.selected {
        filter: grayscale(0);
        outline: 1px solid rgba($color-white, 0.5);
        outline-offset: 4px;
      }

      &:hover,
      &:focus {
        filter: grayscale(0);
        box-shadow: 0px 0px 10px rgba($color-white, 0.75);

        &:before {
          opacity: 0.5;
        }
      }
    }
  }
}
